<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ida:clientID" value="774e5fb4cda44488a08da66ff5f9ce41"/>
    <add key="ida:clientSecret" value="ec4a9f38315b4123b0336d83631a9599"/>
  </appSettings>
</configuration>